.a-left {
    float: right;
    margin-right: 10px;
    padding: 10px 40px 30px 20px;
    text-align: left;
    right: 10px;
}

.b-left {
    border-left: 10px;
}

.br1 {
    border-radius: 10px;
}

.br2 {
    border-radius: 20px 80px;
}

.br3 {
    border-radius: 20px 80px 20px 50px;
}

.br4 {
    border-radius: 20px 80px 40px 50px;
}


.a-right {
    float: left;
    margin-left: 10px;
    padding: 10px 20px 30px 40px;
    text-align: right;
    right: 100px;
}

